#----------------------------------------------------------
# .gitignore
#
# @author: Wildboar
#----------------------------------------------------------

# Utilities
Utils/BCamera/build/
Utils/PointGen/build/

# Data
Data/**/*.png
Data/**/*.jpg

# Tests
Tests/Distortion_0000/build/