#----------------------------------------------------------
# .gitignore
#
# @author: Wildboar
#----------------------------------------------------------

# Utilities
Utils/BCamera/build/
Utils/PointGen/build/
